label[for=navbar-toggle-cbox] {
	cursor: pointer;
}

#navbar-toggle-cbox:checked ~ .collapse {
	display: block;
}

#navbar-toggle-cbox {
	display: none;
}
label {
	margin-bottom: 0rem;
}
body {
	background: #221122;
}
